.callBtn {
  position: fixed;
  margin-right: 20px;
  bottom: 90px;
  right: 20px;
  background-color: #007bff;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  z-index: 9999;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.callBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}

.callIcon {
  font-size: 26px;
  color: white;
}
.callBtn {
  animation: pulse 1.8s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}
